html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.8rem !important;
    margin: 1.5rem 0 0.5rem !important;
}

.loan.expanded {
    background-color: #e5e5e5;
}

.loan.expanded:hover {
    background-color: #d9d9d9;
}

table.highlight > tbody > tr:not(.loan):hover {
    background-color: transparent;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("/bower/datatables.net-dt/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/bower/datatables.net-dt/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/bower/datatables.net-dt/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/bower/datatables.net-dt/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/bower/datatables.net-dt/images/sort_desc_disabled.png");
}

.page-footer {
    background-color: transparent !important;
    text-align: center;
    color: #e5e5e5;
}

.page-footer, 
.page-footer a {
    color: #e5e5e5;
}

.page-footer a:hover {
    color: #039be5;
}