<h2>Accepted bids for this loan</h2>
<table id="bids-table" class="striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        {% for bid in bids %}
            <tr>
                <td>{{ bid.date|date('d/m/Y') }}</td>
                <td>$&nbsp{{ bid.amount|number_format }}</td>
                <td>{{ bid.rate }}&nbsp%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>